<a href="https://colab.research.google.com/github/Abhishek3102/Apache-Spark-/blob/main/Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
import pyspark
import pandas as pd

In [ ]:
df = pd.read_csv("/content/Rainfall.csv")
df.head(3)

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,rainfall,sunshine,winddirection,windspeed
0,1,1025.9,19.9,18.3,16.8,13.1,72,49,yes,9.3,80.0,26.3
1,2,1022.0,21.7,18.9,17.2,15.6,81,83,yes,0.6,50.0,15.3
2,3,1019.7,20.3,19.3,18.0,18.4,95,91,yes,0.0,40.0,14.2

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Trial').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark = spark.read.csv("/content/Rainfall.csv")
df_pyspark.show()  #This shows c0 c1 c2 as the columns

+---+---------+-------+-----------+-------+--------+---------+------+--------+--------+--------------------+---------+
|_c0|      _c1|    _c2|        _c3|    _c4|     _c5|      _c6|   _c7|     _c8|     _c9|                _c10|     _c11|
+---+---------+-------+-----------+-------+--------+---------+------+--------+--------+--------------------+---------+
|day|pressure |maxtemp|temparature|mintemp|dewpoint|humidity |cloud |rainfall|sunshine|         winddire...|windspeed|
|  1|   1025.9|   19.9|       18.3|   16.8|    13.1|       72|    49|     yes|     9.3|                  80|     26.3|
|  2|     1022|   21.7|       18.9|   17.2|    15.6|       81|    83|     yes|     0.6|                  50|     15.3|
|  3|   1019.7|   20.3|       19.3|     18|    18.4|       95|    91|     yes|       0|                  40|     14.2|
|  4|   1018.9|   22.3|       20.6|   19.1|    18.8|       90|    88|     yes|       1|                  50|     16.9|
|  5|   1015.9|   21.3|       20.7|   20.2|    19.9|       95|    81|     yes|       0|                  40|     13.7|
|  6|   1018.8|   24.3|       20.9|   19.2|      18|       84|    51|     yes|     7.7|                  20|     14.5|
|  7|   1021.8|   21.4|       18.8|     17|      15|       79|    56|      no|     3.4|                  30|     21.5|
|  8|   1020.8|     21|       18.4|   16.5|    14.4|       78|    28|      no|     7.7|                  60|     14.3|
|  9|   1020.6|   18.9|       18.1|   17.1|    14.3|       78|    79|      no|     3.3|                  70|     39.3|
| 10|   1017.5|   18.5|         18|   17.2|    15.5|       85|    91|     yes|       0|                  70|     37.7|
| 11|   1016.5|   20.4|       18.1|   16.5|    16.4|       90|    90|     yes|     2.1|                  40|     23.3|
| 12|   1019.9|   18.5|       17.3|   16.1|    13.7|       79|    86|      no|     0.6|                  20|     23.9|
| 13|   1020.8|   18.7|       16.1|   14.2|    12.1|       77|    34|      no|     9.1|                  30|     24.4|
| 14|   1019.3|   17.5|       16.5|   15.6|    12.9|       79|    81|     yes|     1.5|                  60|     33.2|
| 15|   1015.4|   16.1|       15.1|   14.5|    14.6|       97|    97|     yes|       0|                  50|     37.5|
| 16|   1013.5|   17.1|       16.4|   15.5|    15.6|       95|    93|     yes|       0|                  60|       40|
| 17|   1011.5|   20.6|       17.8|   14.8|    16.1|       90|    79|     yes|     1.6|                  20|     23.4|
| 18|   1017.1|   17.8|       15.2|   11.9|    11.1|       76|    49|      no|     3.9|                  50|     28.4|
| 19|   1020.1|   17.6|       16.4|   15.3|    12.5|       78|    84|      no|       1|                  60|       38|
+---+---------+-------+-----------+-------+--------+---------+------+--------+--------+--------------------+---------+
only showing top 20 rows

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
dff = spark.read.option('header', 'true').csv("/content/Rainfall.csv").show()

+---+---------+-------+-----------+-------+--------+---------+------+--------+--------+----------------------+---------+
|day|pressure |maxtemp|temparature|mintemp|dewpoint|humidity |cloud |rainfall|sunshine|         winddirection|windspeed|
+---+---------+-------+-----------+-------+--------+---------+------+--------+--------+----------------------+---------+
|  1|   1025.9|   19.9|       18.3|   16.8|    13.1|       72|    49|     yes|     9.3|                    80|     26.3|
|  2|     1022|   21.7|       18.9|   17.2|    15.6|       81|    83|     yes|     0.6|                    50|     15.3|
|  3|   1019.7|   20.3|       19.3|     18|    18.4|       95|    91|     yes|       0|                    40|     14.2|
|  4|   1018.9|   22.3|       20.6|   19.1|    18.8|       90|    88|     yes|       1|                    50|     16.9|
|  5|   1015.9|   21.3|       20.7|   20.2|    19.9|       95|    81|     yes|       0|                    40|     13.7|
|  6|   1018.8|   24.3|       20.9|   19.2|      18|       84|    51|     yes|     7.7|                    20|     14.5|
|  7|   1021.8|   21.4|       18.8|     17|      15|       79|    56|      no|     3.4|                    30|     21.5|
|  8|   1020.8|     21|       18.4|   16.5|    14.4|       78|    28|      no|     7.7|                    60|     14.3|
|  9|   1020.6|   18.9|       18.1|   17.1|    14.3|       78|    79|      no|     3.3|                    70|     39.3|
| 10|   1017.5|   18.5|         18|   17.2|    15.5|       85|    91|     yes|       0|                    70|     37.7|
| 11|   1016.5|   20.4|       18.1|   16.5|    16.4|       90|    90|     yes|     2.1|                    40|     23.3|
| 12|   1019.9|   18.5|       17.3|   16.1|    13.7|       79|    86|      no|     0.6|                    20|     23.9|
| 13|   1020.8|   18.7|       16.1|   14.2|    12.1|       77|    34|      no|     9.1|                    30|     24.4|
| 14|   1019.3|   17.5|       16.5|   15.6|    12.9|       79|    81|     yes|     1.5|                    60|     33.2|
| 15|   1015.4|   16.1|       15.1|   14.5|    14.6|       97|    97|     yes|       0|                    50|     37.5|
| 16|   1013.5|   17.1|       16.4|   15.5|    15.6|       95|    93|     yes|       0|                    60|       40|
| 17|   1011.5|   20.6|       17.8|   14.8|    16.1|       90|    79|     yes|     1.6|                    20|     23.4|
| 18|   1017.1|   17.8|       15.2|   11.9|    11.1|       76|    49|      no|     3.9|                    50|     28.4|
| 19|   1020.1|   17.6|       16.4|   15.3|    12.5|       78|    84|      no|       1|                    60|       38|
| 20|   1019.6|   16.8|       15.5|   14.8|    13.9|       90|    92|     yes|       0|                    70|     50.6|
+---+---------+-------+-----------+-------+--------+---------+------+--------+--------+----------------------+---------+
only showing top 20 rows

In [ ]:
dff.head()

AttributeError: 'NoneType' object has no attribute 'head'