<a href="https://colab.research.google.com/github/Abhishek3102/Apache-Spark/blob/main/Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [2]:
import pyspark
import pandas as pd

In [3]:
df = pd.read_csv("/content/Rainfall.csv")
df.head(3)

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,rainfall,sunshine,winddirection,windspeed
0,1,1025.9,19.9,18.3,16.8,13.1,72,49,yes,9.3,80.0,26.3
1,2,1022.0,21.7,18.9,17.2,15.6,81,83,yes,0.6,50.0,15.3
2,3,1019.7,20.3,19.3,18.0,18.4,95,91,yes,0.0,40.0,14.2

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Trial').getOrCreate()

In [7]:
spark

In [8]:
df_pyspark = spark.read.csv("/content/Rainfall.csv")
df_pyspark.show()  #This shows c0 c1 c2 as the columns

+---+---------+-------+-----------+-------+--------+---------+------+--------+--------+--------------------+---------+
|_c0|      _c1|    _c2|        _c3|    _c4|     _c5|      _c6|   _c7|     _c8|     _c9|                _c10|     _c11|
+---+---------+-------+-----------+-------+--------+---------+------+--------+--------+--------------------+---------+
|day|pressure |maxtemp|temparature|mintemp|dewpoint|humidity |cloud |rainfall|sunshine|         winddire...|windspeed|
|  1|   1025.9|   19.9|       18.3|   16.8|    13.1|       72|    49|     yes|     9.3|                  80|     26.3|
|  2|     1022|   21.7|       18.9|   17.2|    15.6|       81|    83|     yes|     0.6|                  50|     15.3|
|  3|   1019.7|   20.3|       19.3|     18|    18.4|       95|    91|     yes|       0|                  40|     14.2|
|  4|   1018.9|   22.3|       20.6|   19.1|    18.8|       90|    88|     yes|       1|                  50|     16.9|
|  5|   1015.9|   21.3|       20.7|   20.2|    19.9|       95|    81|     yes|       0|                  40|     13.7|
|  6|   1018.8|   24.3|       20.9|   19.2|      18|       84|    51|     yes|     7.7|                  20|     14.5|
|  7|   1021.8|   21.4|       18.8|     17|      15|       79|    56|      no|     3.4|                  30|     21.5|
|  8|   1020.8|     21|       18.4|   16.5|    14.4|       78|    28|      no|     7.7|                  60|     14.3|
|  9|   1020.6|   18.9|       18.1|   17.1|    14.3|       78|    79|      no|     3.3|                  70|     39.3|
| 10|   1017.5|   18.5|         18|   17.2|    15.5|       85|    91|     yes|       0|                  70|     37.7|
| 11|   1016.5|   20.4|       18.1|   16.5|    16.4|       90|    90|     yes|     2.1|                  40|     23.3|
| 12|   1019.9|   18.5|       17.3|   16.1|    13.7|       79|    86|      no|     0.6|                  20|     23.9|
| 13|   1020.8|   18.7|       16.1|   14.2|    12.1|       77|    34|      no|     9.1|                  30|     24.4|
| 14|   1019.3|   17.5|       16.5|   15.6|    12.9|       79|    81|     yes|     1.5|                  60|     33.2|
| 15|   1015.4|   16.1|       15.1|   14.5|    14.6|       97|    97|     yes|       0|                  50|     37.5|
| 16|   1013.5|   17.1|       16.4|   15.5|    15.6|       95|    93|     yes|       0|                  60|       40|
| 17|   1011.5|   20.6|       17.8|   14.8|    16.1|       90|    79|     yes|     1.6|                  20|     23.4|
| 18|   1017.1|   17.8|       15.2|   11.9|    11.1|       76|    49|      no|     3.9|                  50|     28.4|
| 19|   1020.1|   17.6|       16.4|   15.3|    12.5|       78|    84|      no|       1|                  60|       38|
+---+---------+-------+-----------+-------+--------+---------+------+--------+--------+--------------------+---------+
only showing top 20 rows

In [9]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [10]:
dff = spark.read.option('header', 'true').csv("/content/Rainfall.csv").show()

+---+---------+-------+-----------+-------+--------+---------+------+--------+--------+----------------------+---------+
|day|pressure |maxtemp|temparature|mintemp|dewpoint|humidity |cloud |rainfall|sunshine|         winddirection|windspeed|
+---+---------+-------+-----------+-------+--------+---------+------+--------+--------+----------------------+---------+
|  1|   1025.9|   19.9|       18.3|   16.8|    13.1|       72|    49|     yes|     9.3|                    80|     26.3|
|  2|     1022|   21.7|       18.9|   17.2|    15.6|       81|    83|     yes|     0.6|                    50|     15.3|
|  3|   1019.7|   20.3|       19.3|     18|    18.4|       95|    91|     yes|       0|                    40|     14.2|
|  4|   1018.9|   22.3|       20.6|   19.1|    18.8|       90|    88|     yes|       1|                    50|     16.9|
|  5|   1015.9|   21.3|       20.7|   20.2|    19.9|       95|    81|     yes|       0|                    40|     13.7|
|  6|   1018.8|   24.3|       20.9|   19.2|      18|       84|    51|     yes|     7.7|                    20|     14.5|
|  7|   1021.8|   21.4|       18.8|     17|      15|       79|    56|      no|     3.4|                    30|     21.5|
|  8|   1020.8|     21|       18.4|   16.5|    14.4|       78|    28|      no|     7.7|                    60|     14.3|
|  9|   1020.6|   18.9|       18.1|   17.1|    14.3|       78|    79|      no|     3.3|                    70|     39.3|
| 10|   1017.5|   18.5|         18|   17.2|    15.5|       85|    91|     yes|       0|                    70|     37.7|
| 11|   1016.5|   20.4|       18.1|   16.5|    16.4|       90|    90|     yes|     2.1|                    40|     23.3|
| 12|   1019.9|   18.5|       17.3|   16.1|    13.7|       79|    86|      no|     0.6|                    20|     23.9|
| 13|   1020.8|   18.7|       16.1|   14.2|    12.1|       77|    34|      no|     9.1|                    30|     24.4|
| 14|   1019.3|   17.5|       16.5|   15.6|    12.9|       79|    81|     yes|     1.5|                    60|     33.2|
| 15|   1015.4|   16.1|       15.1|   14.5|    14.6|       97|    97|     yes|       0|                    50|     37.5|
| 16|   1013.5|   17.1|       16.4|   15.5|    15.6|       95|    93|     yes|       0|                    60|       40|
| 17|   1011.5|   20.6|       17.8|   14.8|    16.1|       90|    79|     yes|     1.6|                    20|     23.4|
| 18|   1017.1|   17.8|       15.2|   11.9|    11.1|       76|    49|      no|     3.9|                    50|     28.4|
| 19|   1020.1|   17.6|       16.4|   15.3|    12.5|       78|    84|      no|       1|                    60|       38|
| 20|   1019.6|   16.8|       15.5|   14.8|    13.9|       90|    92|     yes|       0|                    70|     50.6|
+---+---------+-------+-----------+-------+--------+---------+------+--------+--------+----------------------+---------+
only showing top 20 rows

In [11]:
df_pyspark.head()

Row(_c0='day', _c1='pressure ', _c2='maxtemp', _c3='temparature', _c4='mintemp', _c5='dewpoint', _c6='humidity ', _c7='cloud ', _c8='rainfall', _c9='sunshine', _c10='         winddirection', _c11='windspeed')

In [12]:
dff_pyspark = spark.read.csv("/content/Rainfall.csv")
#using inferSchema will also all columns to be displayed in their original datatype else all will be string by default
dff_pyspark = spark.read.option('header', 'true').csv("/content/Rainfall.csv", inferSchema=True)

In [13]:
dff_pyspark.head()

Row(day=1, pressure =1025.9, maxtemp=19.9, temparature=18.3, mintemp=16.8, dewpoint=13.1, humidity =72, cloud =49, rainfall='yes', sunshine=9.3,          winddirection=80, windspeed=26.3)

In [14]:
dff_pyspark.printSchema() #Just like df.info()

root
 |-- day: integer (nullable = true)
 |-- pressure : double (nullable = true)
 |-- maxtemp: double (nullable = true)
 |-- temparature: double (nullable = true)
 |-- mintemp: double (nullable = true)
 |-- dewpoint: double (nullable = true)
 |-- humidity : integer (nullable = true)
 |-- cloud : integer (nullable = true)
 |-- rainfall: string (nullable = true)
 |-- sunshine: double (nullable = true)
 |--          winddirection: integer (nullable = true)
 |-- windspeed: double (nullable = true)

In [15]:
# Get all columns
dff_pyspark.columns

['day',
 'pressure ',
 'maxtemp',
 'temparature',
 'mintemp',
 'dewpoint',
 'humidity ',
 'cloud ',
 'rainfall',
 'sunshine',
 '         winddirection',
 'windspeed']

In [16]:
# To see all value of a particular column
all = dff_pyspark.select('Rainfall').show(5)

+--------+
|Rainfall|
+--------+
|     yes|
|     yes|
|     yes|
|     yes|
|     yes|
+--------+
only showing top 5 rows

In [17]:
# See two columns at a time
multi_columns = dff_pyspark.select(['temparature', 'humidity ']).show()

+-----------+---------+
|temparature|humidity |
+-----------+---------+
|       18.3|       72|
|       18.9|       81|
|       19.3|       95|
|       20.6|       90|
|       20.7|       95|
|       20.9|       84|
|       18.8|       79|
|       18.4|       78|
|       18.1|       78|
|       18.0|       85|
|       18.1|       90|
|       17.3|       79|
|       16.1|       77|
|       16.5|       79|
|       15.1|       97|
|       16.4|       95|
|       17.8|       90|
|       15.2|       76|
|       16.4|       78|
|       15.5|       90|
+-----------+---------+
only showing top 20 rows

In [18]:
# Check data types of all columns
dff_pyspark.dtypes

[('day', 'int'),
 ('pressure ', 'double'),
 ('maxtemp', 'double'),
 ('temparature', 'double'),
 ('mintemp', 'double'),
 ('dewpoint', 'double'),
 ('humidity ', 'int'),
 ('cloud ', 'int'),
 ('rainfall', 'string'),
 ('sunshine', 'double'),
 ('         winddirection', 'int'),
 ('windspeed', 'double')]

In [19]:
# Describe function
dff_pyspark.describe().show()

+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+--------+------------------+----------------------+------------------+
|summary|               day|         pressure |           maxtemp|       temparature|           mintemp|          dewpoint|         humidity |           cloud |rainfall|          sunshine|         winddirection|         windspeed|
+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+--------+------------------+----------------------+------------------+
|  count|               366|               366|               366|               366|               366|               366|               366|              366|     366|               366|                   365|               365|
|   mean|15.756830601092895|1013.7426229508201|26.191256830601098| 23.74726775956283|21.894535519125682|19.989071038251385|  80.1775956284153|71.12841530054645|    NULL| 4.419398907103823|     101.5068493150685|21.536986301369858|
| stddev| 8.823591963189891| 6.414776409895339| 5.978342653428503|5.6328129345386255| 5.594152786625051| 5.997021243267359|10.062470118618508|21.79801200442053|    NULL|3.9343977512568165|     81.72372436011264|10.069711777815357|
|    min|                 1|             998.5|               7.1|               4.9|               3.1|              -0.4|                36|                0|      no|               0.0|                    10|               4.4|
|    max|                31|            1034.6|              36.3|              32.4|              30.0|              26.7|                98|              100|     yes|              12.1|                   350|              59.5|
+-------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+--------+------------------+----------------------+------------------+

In [20]:
# Add column
new_column = dff_pyspark.withColumn('Day after week',dff_pyspark['day']+7).show(7)

+---+---------+-------+-----------+-------+--------+---------+------+--------+--------+----------------------+---------+--------------+
|day|pressure |maxtemp|temparature|mintemp|dewpoint|humidity |cloud |rainfall|sunshine|         winddirection|windspeed|Day after week|
+---+---------+-------+-----------+-------+--------+---------+------+--------+--------+----------------------+---------+--------------+
|  1|   1025.9|   19.9|       18.3|   16.8|    13.1|       72|    49|     yes|     9.3|                    80|     26.3|             8|
|  2|   1022.0|   21.7|       18.9|   17.2|    15.6|       81|    83|     yes|     0.6|                    50|     15.3|             9|
|  3|   1019.7|   20.3|       19.3|   18.0|    18.4|       95|    91|     yes|     0.0|                    40|     14.2|            10|
|  4|   1018.9|   22.3|       20.6|   19.1|    18.8|       90|    88|     yes|     1.0|                    50|     16.9|            11|
|  5|   1015.9|   21.3|       20.7|   20.2|    19.9|       95|    81|     yes|     0.0|                    40|     13.7|            12|
|  6|   1018.8|   24.3|       20.9|   19.2|    18.0|       84|    51|     yes|     7.7|                    20|     14.5|            13|
|  7|   1021.8|   21.4|       18.8|   17.0|    15.0|       79|    56|      no|     3.4|                    30|     21.5|            14|
+---+---------+-------+-----------+-------+--------+---------+------+--------+--------+----------------------+---------+--------------+
only showing top 7 rows

In [21]:
# Drop the column
drop_column = dff_pyspark.drop('Day after week').show(7)

+---+---------+-------+-----------+-------+--------+---------+------+--------+--------+----------------------+---------+
|day|pressure |maxtemp|temparature|mintemp|dewpoint|humidity |cloud |rainfall|sunshine|         winddirection|windspeed|
+---+---------+-------+-----------+-------+--------+---------+------+--------+--------+----------------------+---------+
|  1|   1025.9|   19.9|       18.3|   16.8|    13.1|       72|    49|     yes|     9.3|                    80|     26.3|
|  2|   1022.0|   21.7|       18.9|   17.2|    15.6|       81|    83|     yes|     0.6|                    50|     15.3|
|  3|   1019.7|   20.3|       19.3|   18.0|    18.4|       95|    91|     yes|     0.0|                    40|     14.2|
|  4|   1018.9|   22.3|       20.6|   19.1|    18.8|       90|    88|     yes|     1.0|                    50|     16.9|
|  5|   1015.9|   21.3|       20.7|   20.2|    19.9|       95|    81|     yes|     0.0|                    40|     13.7|
|  6|   1018.8|   24.3|       20.9|   19.2|    18.0|       84|    51|     yes|     7.7|                    20|     14.5|
|  7|   1021.8|   21.4|       18.8|   17.0|    15.0|       79|    56|      no|     3.4|                    30|     21.5|
+---+---------+-------+-----------+-------+--------+---------+------+--------+--------+----------------------+---------+
only showing top 7 rows

In [22]:
# Renaming the columns
renamed_column = dff_pyspark.withColumnRenamed('day', 'Day').show(7)

+---+---------+-------+-----------+-------+--------+---------+------+--------+--------+----------------------+---------+
|Day|pressure |maxtemp|temparature|mintemp|dewpoint|humidity |cloud |rainfall|sunshine|         winddirection|windspeed|
+---+---------+-------+-----------+-------+--------+---------+------+--------+--------+----------------------+---------+
|  1|   1025.9|   19.9|       18.3|   16.8|    13.1|       72|    49|     yes|     9.3|                    80|     26.3|
|  2|   1022.0|   21.7|       18.9|   17.2|    15.6|       81|    83|     yes|     0.6|                    50|     15.3|
|  3|   1019.7|   20.3|       19.3|   18.0|    18.4|       95|    91|     yes|     0.0|                    40|     14.2|
|  4|   1018.9|   22.3|       20.6|   19.1|    18.8|       90|    88|     yes|     1.0|                    50|     16.9|
|  5|   1015.9|   21.3|       20.7|   20.2|    19.9|       95|    81|     yes|     0.0|                    40|     13.7|
|  6|   1018.8|   24.3|       20.9|   19.2|    18.0|       84|    51|     yes|     7.7|                    20|     14.5|
|  7|   1021.8|   21.4|       18.8|   17.0|    15.0|       79|    56|      no|     3.4|                    30|     21.5|
+---+---------+-------+-----------+-------+--------+---------+------+--------+--------+----------------------+---------+
only showing top 7 rows

# MORE OPERATIONS LIKE HANDLING MISSING VALUES, ETC

In [23]:
df_null = spark.read.csv("/content/temp.csv", header=True, inferSchema=True)
df_null.show()

+----+----------------+---------+-------+-------+--------+-----------+-------------+--------------+------+
|  id|            date|client_id|card_id| amount|use_chip|merchant_id|merchant_city|merchant_state|   zip|
+----+----------------+---------+-------+-------+--------+-----------+-------------+--------------+------+
|  11|24-11-2024 14:30|   222222|  54321|$100.50|    true|      67890|     New York|            NY| 10001|
|  22|24-11-2024 15:00|    12346|  54322|$200.00|   false|      67891|  Los Angeles|            CA| 90001|
|  33|24-11-2024 16:15|    12347|  54323| $75.75|    true|      67892|      Chicago|            IL| 60601|
|  44|24-11-2024 17:45|    12348|  54324|$150.25|   false|      67893|      Houston|            TX| 77001|
|  55|24-11-2024 18:30|    12349|  54325| $50.00|    true|      67894|       Mumbai|            AZ| 85001|
|NULL|            NULL|    12450|  54329|   NULL|   false|      67899|         Sion|            BU|400056|
|NULL|            NULL|     NULL|  54655| $67.88|    true|      67888|      Andheri|            KL| 34257|
+----+----------------+---------+-------+-------+--------+-----------+-------------+--------------+------+

In [24]:
# Drop whole row where there are null values
drop_row = df_null.na.drop().show()

+---+----------------+---------+-------+-------+--------+-----------+-------------+--------------+-----+
| id|            date|client_id|card_id| amount|use_chip|merchant_id|merchant_city|merchant_state|  zip|
+---+----------------+---------+-------+-------+--------+-----------+-------------+--------------+-----+
| 11|24-11-2024 14:30|   222222|  54321|$100.50|    true|      67890|     New York|            NY|10001|
| 22|24-11-2024 15:00|    12346|  54322|$200.00|   false|      67891|  Los Angeles|            CA|90001|
| 33|24-11-2024 16:15|    12347|  54323| $75.75|    true|      67892|      Chicago|            IL|60601|
| 44|24-11-2024 17:45|    12348|  54324|$150.25|   false|      67893|      Houston|            TX|77001|
| 55|24-11-2024 18:30|    12349|  54325| $50.00|    true|      67894|       Mumbai|            AZ|85001|
+---+----------------+---------+-------+-------+--------+-----------+-------------+--------------+-----+

In [25]:
# Threshold - if less non null values are there in a row than thresh,then that will get deleted
drop_thresh = df_null.na.drop(how='any', thresh=2).show()

+----+----------------+---------+-------+-------+--------+-----------+-------------+--------------+------+
|  id|            date|client_id|card_id| amount|use_chip|merchant_id|merchant_city|merchant_state|   zip|
+----+----------------+---------+-------+-------+--------+-----------+-------------+--------------+------+
|  11|24-11-2024 14:30|   222222|  54321|$100.50|    true|      67890|     New York|            NY| 10001|
|  22|24-11-2024 15:00|    12346|  54322|$200.00|   false|      67891|  Los Angeles|            CA| 90001|
|  33|24-11-2024 16:15|    12347|  54323| $75.75|    true|      67892|      Chicago|            IL| 60601|
|  44|24-11-2024 17:45|    12348|  54324|$150.25|   false|      67893|      Houston|            TX| 77001|
|  55|24-11-2024 18:30|    12349|  54325| $50.00|    true|      67894|       Mumbai|            AZ| 85001|
|NULL|            NULL|    12450|  54329|   NULL|   false|      67899|         Sion|            BU|400056|
|NULL|            NULL|     NULL|  54655| $67.88|    true|      67888|      Andheri|            KL| 34257|
+----+----------------+---------+-------+-------+--------+-----------+-------------+--------------+------+

In [26]:
# Subset - Drop nan values from a particular column
drop_subset = df_null.na.drop(how='any', subset=['date']).show()

+---+----------------+---------+-------+-------+--------+-----------+-------------+--------------+-----+
| id|            date|client_id|card_id| amount|use_chip|merchant_id|merchant_city|merchant_state|  zip|
+---+----------------+---------+-------+-------+--------+-----------+-------------+--------------+-----+
| 11|24-11-2024 14:30|   222222|  54321|$100.50|    true|      67890|     New York|            NY|10001|
| 22|24-11-2024 15:00|    12346|  54322|$200.00|   false|      67891|  Los Angeles|            CA|90001|
| 33|24-11-2024 16:15|    12347|  54323| $75.75|    true|      67892|      Chicago|            IL|60601|
| 44|24-11-2024 17:45|    12348|  54324|$150.25|   false|      67893|      Houston|            TX|77001|
| 55|24-11-2024 18:30|    12349|  54325| $50.00|    true|      67894|       Mumbai|            AZ|85001|
+---+----------------+---------+-------+-------+--------+-----------+-------------+--------------+-----+

In [27]:
# Fill Missing values
from pyspark.ml.feature import Imputer
imputer = Imputer(
    inputCols=['client_id'],
    outputCols=["{}_imputed".format(c) for c in ['client_id']]
).setStrategy("mean")

imputer.fit(df_null).transform(df_null).show()

+----+----------------+---------+-------+-------+--------+-----------+-------------+--------------+------+-----------------+
|  id|            date|client_id|card_id| amount|use_chip|merchant_id|merchant_city|merchant_state|   zip|client_id_imputed|
+----+----------------+---------+-------+-------+--------+-----------+-------------+--------------+------+-----------------+
|  11|24-11-2024 14:30|   222222|  54321|$100.50|    true|      67890|     New York|            NY| 10001|           222222|
|  22|24-11-2024 15:00|    12346|  54322|$200.00|   false|      67891|  Los Angeles|            CA| 90001|            12346|
|  33|24-11-2024 16:15|    12347|  54323| $75.75|    true|      67892|      Chicago|            IL| 60601|            12347|
|  44|24-11-2024 17:45|    12348|  54324|$150.25|   false|      67893|      Houston|            TX| 77001|            12348|
|  55|24-11-2024 18:30|    12349|  54325| $50.00|    true|      67894|       Mumbai|            AZ| 85001|            12349|
|NULL|            NULL|    12450|  54329|   NULL|   false|      67899|         Sion|            BU|400056|            12450|
|NULL|            NULL|     NULL|  54655| $67.88|    true|      67888|      Andheri|            KL| 34257|            47343|
+----+----------------+---------+-------+-------+--------+-----------+-------------+--------------+------+-----------------+

# Performing Filtering Operations

In [28]:
df_utd = spark.read.csv("/content/ManUtd.csv", header=True, inferSchema=True)
df_utd.show()

+--------+---+----+------+----------+
|    Name|Age|Over| Wages|  Position|
+--------+---+----+------+----------+
|   Bruno| 29|  91|225000|Midfielder|
|Casemiro| 31|  90|350000|Midfielder|
|Rashford| 27|  86|350000|   Forward|
|   Onana| 26|  85|220000|Goalkeeper|
|  Ugarte| 25|  82|175000|Midfielder|
|Garnacho| 21|  79|200000|   Forward|
|    Amad| 22|  72|195000|   Forward|
|Martinez| 26|  85|210000|  Defender|
|Mazraoui| 26|  84|195000|  Defender|
+--------+---+----+------+----------+

In [29]:
# Wages less than 300000
wages_filter = df_utd.filter("wages < 300000").show()

+--------+---+----+------+----------+
|    Name|Age|Over| Wages|  Position|
+--------+---+----+------+----------+
|   Bruno| 29|  91|225000|Midfielder|
|   Onana| 26|  85|220000|Goalkeeper|
|  Ugarte| 25|  82|175000|Midfielder|
|Garnacho| 21|  79|200000|   Forward|
|    Amad| 22|  72|195000|   Forward|
|Martinez| 26|  85|210000|  Defender|
|Mazraoui| 26|  84|195000|  Defender|
+--------+---+----+------+----------+

In [30]:
# Show all details except wages of people with less than 300000 wage
wages_filter_except_wages = df_utd.filter("wages < 300000").select(['Name', 'Over', 'Age']).show()

# The output below shows that data in the table can be displayed as per users order of columns in select function

+--------+----+---+
|    Name|Over|Age|
+--------+----+---+
|   Bruno|  91| 29|
|   Onana|  85| 26|
|  Ugarte|  82| 25|
|Garnacho|  79| 21|
|    Amad|  72| 22|
|Martinez|  85| 26|
|Mazraoui|  84| 26|
+--------+----+---+

In [31]:
# Checking two conditions simultaneously
two_conditions = df_utd.filter((df_utd['wages'] < 300000) & (df_utd['Age'] > 25)).show()

+--------+---+----+------+----------+
|    Name|Age|Over| Wages|  Position|
+--------+---+----+------+----------+
|   Bruno| 29|  91|225000|Midfielder|
|   Onana| 26|  85|220000|Goalkeeper|
|Martinez| 26|  85|210000|  Defender|
|Mazraoui| 26|  84|195000|  Defender|
+--------+---+----+------+----------+

# GroupBy and Aggregate functions

In [32]:
df_utd_updated = spark.read.csv("/content/ManUtd.csv", header=True, inferSchema=True)
df_utd_updated.show()

+--------+---+----+------+----------+
|    Name|Age|Over| Wages|  Position|
+--------+---+----+------+----------+
|   Bruno| 29|  91|225000|Midfielder|
|Casemiro| 31|  90|350000|Midfielder|
|Rashford| 27|  86|350000|   Forward|
|   Onana| 26|  85|220000|Goalkeeper|
|  Ugarte| 25|  82|175000|Midfielder|
|Garnacho| 21|  79|200000|   Forward|
|    Amad| 22|  72|195000|   Forward|
|Martinez| 26|  85|210000|  Defender|
|Mazraoui| 26|  84|195000|  Defender|
+--------+---+----+------+----------+

In [33]:
# GroupBy Salary by position of players
df_utd_updated.groupBy('Position').sum("Wages").show()

+----------+----------+
|  Position|sum(Wages)|
+----------+----------+
|  Defender|    405000|
|Goalkeeper|    220000|
|   Forward|    745000|
|Midfielder|    750000|
+----------+----------+

In [34]:
# GroupBy average Salary by position of players
df_utd_updated.groupBy('Position').mean("Wages").show()

+----------+------------------+
|  Position|        avg(Wages)|
+----------+------------------+
|  Defender|          202500.0|
|Goalkeeper|          220000.0|
|   Forward|248333.33333333334|
|Midfielder|          250000.0|
+----------+------------------+

In [35]:
# GroupBy number of people in various positions
df_utd_updated.groupBy('Position').count().show()

+----------+-----+
|  Position|count|
+----------+-----+
|  Defender|    2|
|Goalkeeper|    1|
|   Forward|    3|
|Midfielder|    3|
+----------+-----+

In [36]:
# Highest paid player in each position
from pyspark.sql import functions as F

# Group by 'Position' and get the maximum wages per position
max_wages_per_position = df_utd_updated.groupBy('Position').agg(F.max('Wages').alias('MaxWages'))

# Join back to the original dataframe to get the corresponding player names
result = df_utd_updated.alias('df').join(
    max_wages_per_position.alias('max_df'),
    (F.col('df.Position') == F.col('max_df.Position')) &
    (F.col('df.Wages') == F.col('max_df.MaxWages'))
).select(F.col('df.Position'), F.col('df.Name'), F.col('df.Wages'))

result.show()

+----------+--------+------+
|  Position|    Name| Wages|
+----------+--------+------+
|Midfielder|Casemiro|350000|
|   Forward|Rashford|350000|
|Goalkeeper|   Onana|220000|
|  Defender|Martinez|210000|
+----------+--------+------+

# MLlib

In [37]:
ml = spark.read.csv("/content/ManUtd.csv", header=True, inferSchema=True)
ml.show()

+--------+---+----+------+----------+
|    Name|Age|Over| Wages|  Position|
+--------+---+----+------+----------+
|   Bruno| 29|  91|225000|Midfielder|
|Casemiro| 31|  90|350000|Midfielder|
|Rashford| 27|  86|350000|   Forward|
|   Onana| 26|  85|220000|Goalkeeper|
|  Ugarte| 25|  82|175000|Midfielder|
|Garnacho| 21|  79|200000|   Forward|
|    Amad| 22|  72|195000|   Forward|
|Martinez| 26|  85|210000|  Defender|
|Mazraoui| 26|  84|195000|  Defender|
+--------+---+----+------+----------+

In [38]:
# Group columns with same data types together

In [39]:
from pyspark.ml.feature import VectorAssembler
featureassembler = VectorAssembler(inputCols=["Age", "Over"], outputCol="Independent Features")

In [40]:
output = featureassembler.transform(ml)

In [41]:
output.show()

+--------+---+----+------+----------+--------------------+
|    Name|Age|Over| Wages|  Position|Independent Features|
+--------+---+----+------+----------+--------------------+
|   Bruno| 29|  91|225000|Midfielder|         [29.0,91.0]|
|Casemiro| 31|  90|350000|Midfielder|         [31.0,90.0]|
|Rashford| 27|  86|350000|   Forward|         [27.0,86.0]|
|   Onana| 26|  85|220000|Goalkeeper|         [26.0,85.0]|
|  Ugarte| 25|  82|175000|Midfielder|         [25.0,82.0]|
|Garnacho| 21|  79|200000|   Forward|         [21.0,79.0]|
|    Amad| 22|  72|195000|   Forward|         [22.0,72.0]|
|Martinez| 26|  85|210000|  Defender|         [26.0,85.0]|
|Mazraoui| 26|  84|195000|  Defender|         [26.0,84.0]|
+--------+---+----+------+----------+--------------------+

In [42]:
final_data = output.select("Independent Features", "Wages")

In [43]:
final_data.show()

+--------------------+------+
|Independent Features| Wages|
+--------------------+------+
|         [29.0,91.0]|225000|
|         [31.0,90.0]|350000|
|         [27.0,86.0]|350000|
|         [26.0,85.0]|220000|
|         [25.0,82.0]|175000|
|         [21.0,79.0]|200000|
|         [22.0,72.0]|195000|
|         [26.0,85.0]|210000|
|         [26.0,84.0]|195000|
+--------------------+------+

In [44]:
# Train Test Split
from pyspark.ml.regression import LinearRegression
train_data, test_data = final_data.randomSplit([0.75, 0.25])
regressor = LinearRegression(featuresCol="Independent Features", labelCol="Wages")
regressor = regressor.fit(train_data)

In [45]:
regressor.coefficients

DenseVector([4497.6077, 2799.0431])

In [46]:
regressor.intercept

-126124.40191369299

In [47]:
prediction = regressor.evaluate(test_data)

In [48]:
prediction.predictions.show()

+--------------------+------+------------------+
|Independent Features| Wages|        prediction|
+--------------------+------+------------------+
|         [22.0,72.0]|195000|174354.06698567368|
|         [26.0,85.0]|220000|228732.05741626787|
|         [31.0,90.0]|350000| 265215.3110047931|
+--------------------+------+------------------+

In [49]:
prediction.meanAbsoluteError, prediction.meanSquaredError, prediction.rootMeanSquaredError

(38054.22647526703, 2563648954.922335, 50632.48912429978)